@import url('https://fonts.googleapis.com/css2?family=Akshar');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    font-family: 'Akshar', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.sidebar {
    background: #292929;
    color: #fff;
    padding: 20px;
    grid-row: 1 / span 2;
}

.sidebar ul {
    list-style-type: none;
    margin-top: 20px;
    font-size: 20px;
}

.header {
    background: yellow;
    grid-column: 2 / span 2;
}

.content {
    background: rgb(236, 234, 234);

    display: grid;
    grid-template-columns: 6fr 2fr;
}

.trending {
    grid-column: 2;
}