@import url('https://fonts.googleapis.com/css2?family=Akshar');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    font-family: 'Akshar', sans-serif;
}