@import url('https://fonts.googleapis.com/css2?family=Akshar');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    font-family: 'Akshar', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.sidebar {
    background: #292929;
    color: #fff;
    padding: 20px;
    grid-row: 1 / span 2;
}

.sidebar ul {
    list-style-type: none;
    margin-top: 20px;
    font-size: 20px;
}

.sidebar ul li {
    margin: 4px 0;
}

.header {
    grid-column: 2 / span 2;
    padding: 20px;
}

.header .user {
    display: grid;
    grid-template-columns: 6fr 2fr;
    align-items: center;
    grid-gap: 10px;
}

.header .user form {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}

.header .user form button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.header .user form input[type="search"] {
    font-size: 16px;
    outline: none;
    border: none;
    background: #ccc;
    border-radius: 20px;
    padding: 5px 15px;
}

.header .user .specific {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    grid-gap: 15px;
    margin-left: 30px;
}

.header .user .specific button {
    background: transparent;
    font-size: 18px;
    outline: none;
    border: none;
}

.header .user .specific .user-img {
    font-size: 30px;
}

.header .user .specific h4 {
font-size: 20px;
}

.header .salute {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.header .salute .crendentials {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.header .salute .crendentials .user-img {
    font-size: 60px;
}

.header .salute  .actions button {
    display: inline-block;
    background: #292929;
    color: #fff;
    border: none;
    outline: none;
    padding: 8px 30px;
    font-size: 15px;
    margin: 10px;
    border-radius: 20px;
}

.content {
    background: #ccc;
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: repeat(2, 1fr);
}

.content .projects {
    grid-row: 1 / span 2;
    padding: 20px;
}

.content  h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content .projects .all-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.content .projects .all-projects .project {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border-left: solid 9px #292929;

    display: grid;
}

.content .projects .all-projects .project p {
    margin-top: 10px;
}

.content .projects .all-projects .project .actions {
    justify-self: end;
    align-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.content .projects .all-projects .project .actions button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.content .announcements  {
    margin-top: 20px;
}

.content .announcements > div {
    background-color: #fff;
    margin-right: 20px;
    border-radius: 8px;
    padding: 15px;
}

.content .announcements div .announcement {
    border-bottom: solid 1px #ccc;
    margin: 10px 0;
    padding-bottom: 10px;
}

.content .announcements div .announcement:last-child {
    border-bottom: none;
    padding: none;
    margin-bottom: 0;
}

.content .announcements div .announcement p {
    font-size: 13px;
}

.content .trending {
    grid-column: 2 / span 1;
}